.Login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}
h1{
  color :#1db954;
  font-size: 50px;
}
p{
  color: #bebebe;
 
}

.spotify{
  padding: 5px 20px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #1db954;
  border: none;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  transition: background-color 1s ease-out 80ms
}

a{
  text-decoration: none;
  color: #ffffff;
}

.spotify{
  transition: all .4s ease-in-out; 
}

.spotify:hover{
  background-color: #0f5c2a;
  transform: scale(1.2);

}

.goggle{
  padding: 5px 20px;
  /* margin-top: 20px; */
  background-color: #ffffff;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  transition: background-color 1s ease-out 80ms
}

.google:hover{
  background-color: #bebebe;
  transform: scale(1.2);

}



/* .log{
  display: flex;
  flex-direction: column;
}

img{
  margin-bottom: 50px;
  margin-top: 50px;
}

button{
  width: 300px;
  align-items: center;
} */

